.about-teachers__row {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
}

.about-teachers__item{
    // text-align: center;
    width: 25%;
    padding: 0 20px;
    margin-bottom: 45px;
}

.about-teachers__info{
    padding-left: 48px;
    margin-top: 22px;
}

.about-teachers__img img {
  border-radius: 50%;
  height: 230px;
  width: 229px;
}

.about-teachers__name {
  font-size: 18px;

  color: #0b1f35;

  font-weight: bold;
}

.about-teachers__position {
  font-size: 14px;
  margin: 8px 0;
  color: #6d7986;
}

.about-teachers__about {
  font-size: 14px;
  color: #ff0033;
}
#hidden-content.fancybox-content {
  background: #3f45af url("../img/teacher-popup.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -450px;
  width: 100%;
  max-width: 990px;

  .fancybox-close-small {
    color: #ffffff;
    width: 45px;
    height: 45px;
    margin-top: 20px;
    margin-right: 20px;
    border: 1px solid #ffffff;
    border-radius: 50%;
  }
  .banner-bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    position: relative;

  }
  .banner-bottom__left-part {
    margin-right: 20px;
    width: 40%;
    img {
      max-width: 300px;
      width: 100%;
      max-height: 300px;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      object-position: left;
      box-shadow: 0px 15px 22.5px rgba(24,28,105,0.4);
    }

  }
  .banner-bottom__right-part {
    width: 60%;
    p.title-name {
      font-size: 24px;
      line-height: 26px;
      color: #ffffff;
      font-weight: bold;
      margin: 0;
    }
    p.text-subtitle {
      font-size: 16px;
      line-height: 26px;
      color: #ffffff;
      opacity: 0.5;
      margin-top: 0;
    }
    .graduate {
      margin: 50px 0;
      font-size: 16px;
      line-height: 26px;
      color: #ffffff;
      position: relative;

      span {
        font-weight: 700;
      }
      p {
        margin: 0;
      }
      &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background: #ffffff;
        opacity: 0.5;
        top: -25px;
        left: 0;
      }
      &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background: #ffffff;
        opacity: 0.5;
        bottom: -25px;
        left: 0;
      }
    }
    .quotes {
      font-size: 16px;
      line-height: 26px;
      color: #ffffff;
      margin-top: 20px;

      li {
        margin: 0 0 0 20px;
        list-style-type: circle;
        &:nth-child(n+8){
          display: none;
        }
      }
      .show-hide {
        display: flex;
        align-items: center;
        margin: 20px 20px;
        a {
          cursor: pointer;
        }
        i {
          margin-left: 10px;
        }
      }

    }
  }

}
.popup-content {
  .prev-arrow {
    margin-left: -27px;
  }
  .next-arrow {
    margin-right: -27px;
  }
  .prev-arrow,
  .next-arrow {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #3f45af;
    position: relative;
    cursor: pointer;
    outline: none;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%)
    }
  }
  .navigation {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    top:42%;
    z-index: 2;
    width: 100%;

  }
  .swiper-pagination {
    bottom: -10px;
    position: relative;
    right: 20px;
    text-align: right;
    color: #ffffff;
    .swiper-pagination-current {
      font-size: 22px;
      font-weight: 700;

    }
  }
  .slider-wrap {
    position: relative;
  }
  .swiper-container {
    .swiper-slide {
      width: 100%;

    }
    .image-slider {
      height: 620px;
      background: url("../img/teachers/slider-haircut.png") center no-repeat;
      background-size: cover;
    }
  }

}

@media screen and (max-width:991px){
    .about-teachers__item{
        width: 33%;
    }
    .about-teachers__img img{
        height: 199px;
        width: 199px;
    }
  #hidden-content.fancybox-content {
    background-position: -450px -940px;
  }
  #hidden-content.fancybox-content .banner-bottom {
    display: block;
  }
  #hidden-content.fancybox-content .banner-bottom__left-part {
    margin: 30px 0;
    width: 100%;
    text-align: center;
  }
  #hidden-content.fancybox-content .banner-bottom__right-part {
    width: 100%;
  }
}

@media screen and (max-width:768px){
    .about-teachers__item{
        width: 50%;
    }
  .popup-content .swiper-container .image-slider {
    height: 400px;
  }
}

@media screen and (max-width:567px){
    .about-teachers__item{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .about-teachers__info{
        padding-left: 0px;
    }
  .popup-content .swiper-container .image-slider {
    height: 300px;
  }
  #hidden-content.fancybox-content {
    background-position: -330px -940px;
    padding: 20px;
  }
  #hidden-content.fancybox-content .banner-bottom__right-part .graduate {
    margin: 30px 0;
  }
  #hidden-content.fancybox-content .banner-bottom__right-part .graduate:before {
    bottom: -15px;
  }
  #hidden-content.fancybox-content .banner-bottom__right-part .graduate:after {
    top: -15px;
  }
  .popup-content .next-arrow, .popup-content .prev-arrow {
    width: 35px;
    height: 35px;
  }
  .popup-content .next-arrow {
    margin-right: -17px;
  }
  .popup-content .prev-arrow {
    margin-left: -17px;
  }
}
@media (max-width: 375px) {
  #hidden-content.fancybox-content .banner-bottom__left-part img {
    width: 199px;
    height: 199px;
  }
}
