.banner {
  color: #fff;
  background-color: $main;
  position: relative;
  .container {
    position: relative;
  }
}

.banner__content h2 {
  font-size: 55px;
  letter-spacing: 3px;
  color: #ffffff;
  font-weight: bold;
  margin: 0;
}

.banner__title {
  font-size: 55px;
  letter-spacing: 3px;
  color: #ffffff;
  font-weight: bold;
  margin: 0;
}
.banner__title-big {
  font-size: 47px;
  letter-spacing: 3px;
  color: #fff;
  font-weight: 700;
  margin: 0;
}

.banner__content img {
  margin-right: 29px;
  margin-bottom: 29px;
}

.banner__content p {
  margin: 33px 0;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  a {
    color: #f2f3fa;
  }
}

.banner__row {
  display: flex;
}

.banner__left {
  max-width: 618px;
  margin-right: 42px;
}

.banner__right {
  flex-shrink: 0;
}

.banner__right img {
  border-radius: 50%;
  height: 450px;
  width: 451px;
  position: relative;
  z-index: 2;
  top: -114px;
  object-fit: cover;
  box-shadow: 0px 20px 27.5px rgba(6,7,36,0.15);
}

.banner__right_small img{
  height: 350px;
    width: 351px;
}
.banner__inner {
  padding-top: 59px;
  padding-bottom: 41px;
}

.banner__links {
  display: flex;
  justify-content: space-between;
}

.banner__links a {
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

.banner__links a:after {
  content: "";
  position: absolute;
  opacity: 0.6;
  width: 100%;
  background-color: #fff;
  height: 1px;
  left: 0;
  bottom: 0px;
}

.banner__layout {
  position: absolute;
  top: -137px;
  right: -6px;
  z-index: 1;
}

.banner_small {
  // overflow: hidden;
  .banner__right img{
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0 20px 27.5px rgba(6,7,36,.15)
  }
}

.banner_small .banner__layout{
  right: -943px;
  bottom: -186px;
  top: auto;
}

@media screen and(max-width:1200px) {
  .banner__right img {
    top: 0;
    height: 350px;
    width: 350px;
    right: -25px;

  }
  .banner__left {
    max-width: 550px;
  }
  .banner__layout {
    display: none;
  }
}

@media screen and(max-width:992px) {
  .banner__row {
    // flex-direction: column;
  }
  .banner__right {
    margin-top: 30px;
    text-align: center;
    img {
      top: 15% !important;
      width: 220px;
      height: 220px;
    }
  }
  .banner__left {
    max-width: 480px !important;
  }
  .banner__content h1, .banner__title {
    font-size: 45px;
  }
  .banner__links {
    display: block;
    a {
      display: block;
      margin: 10px 0;
      text-decoration: underline;
      &:after {
        display: none;
      }
    }
  }
}

@media screen and(max-width:768px) {
  .banner__content h1 {
    font-size: 40px;
  }
  .banner__links a {
    font-size: 18px;
  }
  .banner__right img {

    height: 179px;
    width: 179px;
  }

  .banner__right{
    position: absolute;
    right: 20px;
    top: 25%;
  }
  .banner__left{
    margin-right: 0;
    padding-right: 100px;
    .banner__content {
      max-width: 325px;
    }
  }
}

@media screen and(max-width:567px) {

  .banner__right img {
    // border-radius: 20px;
    max-width: 100%;
    display: none;
  }
  .banner__links a {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .banner__links {
    flex-wrap: wrap;
  }
  .banner__left {
    margin-right: 0;
    padding-right: 0!important;
    .banner__content {
      max-width: 100%;
    }
  }

  .banner__content h1 {
    font-size: 30px;
  }
  .banner__left{
    padding-right: 125px;
  }

}

