.breadcrumbs__img{
    margin: 0 15px;
}
.breadcrumbs__item{
    background-image: linear-gradient(#fff,#fff);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100% 1px;
    color: #fff;
    text-decoration: none;
}

.breadcrumbs__item_active{
    background-image:none;
    opacity: 0.5;
}