.btn {
  display: inline-flex;
  background-color: #f30037;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  padding: 0 85px;
  height: 65px;
  align-items: center;
  box-shadow: 0 15px 17.5px rgba(209,0,24,0.2);
}


.btn_white{
  background-color: #fff;
  color: #000;
  padding: 0;
  width: 250px;
  justify-content: center;
  align-items: center;

}

.btn_unfilled{
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
@media (max-width: 420px) {
  .btn {
    padding: 0;
    width: 250px;
    justify-content: center;
  }
}