.contact-info{
    margin-bottom: 37px;
}

.contact-info__title {
  font-size: 13px;
  margin-bottom: 10px;
}

.contact-info__value{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.contact-info__value a{
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

