.courses {
  // display: flex;
}

.courses__item {
  position: relative;
}

.courses__right-mini {
  display: flex;
}

.courses__row {
  display: flex;
}

.courses__button-holder {
  text-align: center;
  margin-top: 29px;
  .btn {
    box-shadow: 0px 15px 17.5px rgba(209,0,45,0.2);
  }
}

.courses__item-link {
  display: block;
  overflow: hidden;
  position: relative;
}

.courses__img {
  max-width: 100%;
  object-fit: cover;
}

.courses__content {
  position: absolute;
  bottom: 6px;
  color: #fff;

  // max-width: 434px;
  // left: 50%;
  // transform: translateX(-50%);
  width: 100%;
  padding: 0 50px;
}

.courses__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 19px;
}

.courses__description {
  margin-bottom: 34px;
  font-size: 15px;
  line-height: 18px;
}
.courses__icon {
  width: 13px;
}

.courses__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 369px;
}

.courses__icon-item {
  display: flex;
  align-items: center;
}

.courses__icon-text {
  margin-left: 6px;
}

.courses__icon-text {
  font-weight: bold;
}

.courses__icon-item:not(:last-child) {
  margin-bottom: 12px;
}

.courses__left {
  margin-right: 35px;
}

.courses__right-mini {
  margin-bottom: 30px;
  .courses__item:first-child {
    margin-right: 31px;
  }

  .courses__content {
    max-width: 215px;

    bottom: 0;
  }

  .courses__content {
    padding: 0 20px;
  }
}

.courses__left .courses__content {
  bottom: 59px;
}

.coursers-list {
  margin-bottom: 25px;
}

.coursers-list__title {
  font-size: 30px;
  color: #001933;
  font-weight: bold;
  margin: 25px 0;
}

.coursers-list__item {
  background-color: #f7f7f8;
  text-decoration: none;
  color: #001933;
  padding: 18px 14px;
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
}
@media (max-width: 1200px) {
  .courses__title {
    font-size: 20px;
  }
}

@media screen and (max-width: 991px) {
  .courses__row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .courses__left {
    margin-right: 0;
    margin-bottom: 31px;
  }
  .courses__right-mini {
    margin-bottom: 31px;
  }
}

@media screen and (max-width: 576px) {
  .courses__right-mini {
    flex-wrap: wrap;
  }
  .courses__img {
    width: 100%;
    min-height: 440px;
  }
  .courses__item-link {
    width: 100%;
    min-height: 440px;
  }
  .courses__item {
    width: 100%;
    min-height: 440px;
  }
  .courses__right-mini .courses__item:first-child {
    margin-right: 0;
    margin-bottom: 31px;
  }
  .courses__left {
    margin-right: 0;
  }
  .courses__right-mini .courses__content {
    bottom: 13px;
    width: 100%;
    top: auto;
    max-width: 100%;
  }
  .courses__content {
    padding: 0 20px;
  }
}
@media (max-width: 480px) {
  .coursers-list__title {
    font-size: 25px;
  }
}
