.course-calendar {
  background-color: $main;
  padding: 21px 20px;
}

.course-calendar__item {
    display: flex;
    justify-content: space-between;
}

.course-calendar__date{
    font-weight: bold;
}