.courses-description__item {
  padding: 30px 30px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  box-shadow: 0 20px 27.5px rgba(6,7,36,0.15);

}

.courses-description__item-icon-text {
  margin-left: 15px;
}

.courses-description__icons {
  display: flex;
  width: 100%;
  max-width: 633px;
  justify-content: space-between;
  margin-bottom: 25px;
}

.courses-description__item-title {
  font-size: 24px;
  color: #f3f4f5;
  font-weight: bold;
  margin-bottom: 20px;
}
.courses-description__line .courses-description__button-holder {
  display: block;
}
.courses-description__text {
  margin-bottom: 20px;
  max-width: 714px;

  line-height: 22px;

  font-weight: 500;
}

.courses-description__icon {
  display: flex;
  align-items: center;
  img {
    width: 15px;
    height: 15px;
  }
}

.courses-description__icon-text {
  margin-left: 15px;
}

.courses-description__row {
  display: flex;
  justify-content: space-between;
  margin: 0 -20px;
}

.courses-description__title {
  font-size: 46px;
  color: #0b1f35;
  font-family: "Gilroy";
  font-weight: bold;
}
.courses-description__button-holder {
  display: flex;
  justify-content: center;
}
.courses-description__row .courses-description__item {
  width: 100%;
  max-width: 33%;
  min-height: 365px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 20px;
}


@media screen and (max-width:1200px){
  .courses-description__row{
    margin: 0;
  }
  .courses-description__row .courses-description__item{
    margin: 0;
  }
}

@media screen and (max-width:991px){
.courses-description__row .courses-description__item{
  max-width: 337px;
  margin-bottom: 25px;
}
.courses-description__row{
  flex-wrap: wrap;
}
}

@media screen and (max-width:768px){
  .courses-description__icons{
    flex-direction: column;
  }
  .courses-description__icon{
    margin-bottom: 20px;
  }
  .courses-description__item-title{
    font-size: 23px;
  }
 .courses-description__button-holder .btn{
      padding-left: 0;
      padding-right: 0;
      justify-content: center;
      width: 100%;
  }
  .courses-description__row .courses-description__item{
    max-width: 245px;
    justify-content: flex-start;
  }
  .courses-description__row .courses-description__item{
    max-width: 100%;
    justify-content: center;
  }
  .courses-description__line:nth-child(2) .courses-description__row .courses-description__item{
    position: relative;
  }
  .courses-description__line:nth-child(2) .courses-description__content {
    position: absolute;
    bottom: 20px;
    padding: 0 20px;
    left: 0;
  }
}

@media screen and (max-width:567px){
  .courses-description__title {
    font-size: 35px;
  }


}
@media (max-width: 375px) {
  .courses-description__title {
    font-size: 28px;
  }
}