.description-composition{
    display: flex;
}

.description-composition__item{
    width: 33%;
    text-align: center;
    .description-composition__title {
      font-size: 20px;
      line-height: 26px;
      font-weight: bold;
    }
}


.description-composition__item:not(:last-child){
    border-right: 3px solid #4349a8;
}

.description-composition__btn{
    margin-top: 20px;
    justify-content: center;
}

@media screen and (max-width: 991px) {
    .description-composition{
      flex-wrap: wrap;
    }
    .description-composition__item{
      width: 100%;
      margin-bottom: 30px;

    }
    .description-composition__item:not(:last-child) {
        border-right: none;
    }
  }

  @media screen and (max-width: 576px) {
    .description-composition__btn{
        width: 100%;
    }
  }