.footer {
  background-color: #2e349e;
}

.footer__row {
  display: flex;
  align-items: center;
}

.footer__inner {
  padding: 20px 0;
  background: url("../img/header_back_layer_2.png") no-repeat;
  background-size: cover;
  background-position: 400px -200px;
}

.footer__nav {
  margin-right: 20px;
}

.footer__nav ul {
  display: flex;
}

.footer__nav li:not(:last-child) {
  margin-right: 35px;
}

.footer__nav a {
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}

.footer__logo {
  margin-right: 25px;
}

.footer__icon:not(:last-child) {
  margin-right: 10px;
}

.footer__bottom {
  background-color: #000;
  padding: 10px 0;
}

.footer__bottom-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__bottom-right a {
  font-size: 14px;
  color: #ffffff;
  opacity: 0.5;
}

.footer__bottom-left{
    font-size: 14px;
    color: #ffffff;
    opacity: 0.5;
}


@media screen and(max-width:991px){
  .footer__nav ul{
    display: flex;
    flex-direction: column;
  }
  .footer__row{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__nav{
    margin: 20px 0;
  }
}
@media (max-width: 768px) {
    .footer__inner {
      background-position: 300px -200px;
    }
}
@media (max-width: 576px) {
  .footer__inner {
    background-position: 200px -150px;
  }
}
@media (max-width: 475px) {
  .footer__inner {
    background-position: 100px -20px;
  }
}