.hamburger{
    display: none;
}

.hamburger span{
    width: 27px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin-bottom: 5px;
}

@media screen and(max-width:768px){
  .hamburger{
      display: inline-block;
  }
  }