.header {
  background-color: #3f45af;

}
p.logo-subtitle {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.6;
  max-width: 250px;
}
.logo {

  }
.header__row {
  display: flex;
  justify-content: space-between;
}

.header__inner {
  padding-top: 28px;
  position: relative;
  z-index: 2;
}

.header__ul {
  padding-top: 7px;
  li {
    display: inline-block;
    position: relative;
  }
  //li:after {
  //  content: "";
  //  width: 88%;
  //  position: absolute;
  //  bottom: -10px;
  //  height: 1px;
  //  background-color: #fff;
  //  left: 50%;
  //  transform: translateX(-50%);
  //  opacity: 0;
  //  box-shadow: 0 6px 3px 0 rgba(255, 255, 255, 0.18);
  //  transition: all 0.2s ease;
  //}
  //li:hover{
  //  text-decoration: underline;
  //}
  a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.2s ease;
    &.active-link {
      border-bottom: 3px solid #ffffff;
      &:hover {
        text-decoration: none;
      }
    }
    &:hover {
      border-bottom: 3px solid #ffffff;
    }
  }

  li:not(:last-child) {
    margin-right: 23px;
  }
}
@media (max-width: 1024px) {
  .header__ul a:hover {
    text-decoration: none;
  }
}

@media screen and(max-width:992px) {
  .header__right {
    width: 50%;
  }
  .header__ul li:not(:last-child) {
    margin-right: 13px;
    margin-bottom: 13px;
  }
}

@media screen and(max-width:768px) {
  .header__nav {
    // display: none;
  }
  .header__right{
    text-align: end;
  }
  .header__ul li{
    display: block;

  }
  .header__ul li:not(:last-child){
    margin-right: 0;
  }
  .header__ul li:after{
    width: 55%;
    left: 73%;
    bottom: 0;
  }
}
@media (max-width: 567px) {
  .logo__img {
    width: 150px;
  }
  p.logo-subtitle {
    max-width: 150px;
    font-size: 11px;
    line-height: 15px;
  }
}

