.img-composition{
    display: flex;
}


.img-composition__item{
    width: 20%;
    padding: 0 7px;
}

.img-composition__item img{
    max-width: 100%;
}

@media screen and (max-width:576px){
    .img-composition__item{
        width: 40%;
        padding: 7px 7px;
    }
    .img-composition{
        flex-wrap: wrap;
        justify-content: center;
    }
}