.list {
}

.list__title {
}

.list__core {
  padding-left: 20px;
}
.list li {
  position: relative;
  margin-bottom: 10px;
}

.list li::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -11px;
  top: 6px;
  width: 4px;
  height: 4px;
  background-color: #fff;
  background-color: #fff;
  border-radius: 50%;
}

.list__title {
  font-size: 20px;

  color: #ffffff;

  font-weight: bold;
  margin-bottom: 20px;
}
