.mobile {
  position: fixed;
  left: -461px;
  top: 0;
  transition: all 0.2s ease;
  z-index: 13;
}

.mobile.active {
  left: 0;
}

.mobile__menu {
  width: 265px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.92);
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;
  overflow-y: auto;
}

.layout {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.397);
  display: none;
}

.mobile.active .layout {
  display: block;
}
.mobile__menu ul {
  margin: 42px 0 0 40px;
}

.mobile__menu li {
  margin-bottom: 25px;
}
.mobile__menu a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.multiple-img_right {
  .multiple-img__all {
    right: auto;

    left: 0;
  }
}
