.multiple-img {
  display: flex;
  align-items: flex-end;
  // flex-direction: row-reverse;
}



.multiple-img__img {
  border-radius: 50%;
  width: 360px;
  height: 360px;
  object-fit: cover;
  box-shadow: 0 20px 27.5px rgba(6,7,36,0.15);
}

.test {
  background: rgba(64, 61, 161, 0.295) url("../img/multiple_img_1.png")
    no-repeat fixed center center;
  max-width: 360px;
  width: 100%;
  max-height: 360px;
  height: 100%;
  border-radius: 50%;
}

.multiple-img__holder {
  position: relative;
}

.multiple-img__all {
  position: absolute;
  //width: 62vw;
  display: flex;
  top: 0;
  right: 0;
  justify-content: flex-end;
  padding-right: 200px;
}

.multiple-img__all img {
  position: relative;
  right: -54px;
}

.multiple-img__main {
  position: relative;
  z-index: 1;
}

.multiple-img__all .multiple-img__img:nth-child(2) {
  right: -230px;
}
.multiple-img__all .multiple-img__img:nth-child(1) {
  right: -396px;
}
.multiple-img_right {
  flex-direction: row;
  .multiple-img__img{
    right: auto;
    left: -550px;
  }
  .multiple-img__img:nth-child(2) {
    right: auto;
    left: 0px;
  }
  .multiple-img__all .multiple-img__img:nth-child(1) {
    right: auto;
    left: 563px;
  }
  .multiple-img__all{
    justify-content: flex-start;
  }
}

@media screen and(max-width:992px) {
  .multiple-img__img {
    width: 320px;
    height: 320px;
  }
  .section_type_1 .section__row {
    display: block;
  }
  .section_about_academy .multiple-img_right .multiple-img__all {
    left: 120px;
  }



}
@media screen and(max-width:768px) {

  .section_about_academy .section_right .multiple-img_right {
    position: relative;
  }
  .multiple-img__main {
    margin-bottom: 20px;
  }
 .multiple-img_right .multiple-img__img {
   left: -495px;
 }
  .multiple-img_right .multiple-img__all .multiple-img__img:nth-child(1) {
    right: auto;
    left: 510px;
  }
  .section_about_academy .multiple-img_right .multiple-img__all {
    left: 40px;
  }
}
@media (max-width: 480px) {
  .multiple-img__img {
    max-width: 260px;
    max-height: 260px;

  }
  .multiple-img__all .multiple-img__img:nth-child(n){
    display: none;
  }


}
