.schedule {
}

.schedule__item-date {
  font-size: 15px;
  color: #ffffff;
  width: 100px;
  flex-shrink: 0;
}

.schedule__item-link {
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  display: inline;
  // margin-left: 45px;
  background-image: linear-gradient(#fff,#fff);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 1px;
}

.schedule__item-link:after {
  // content: "";
  // width: 100%;
  // bottom: -1px;
  // left: 0;
  // height: 1px;
  // background-color: #fff;
  // display: block;
}

.schedule__item{
  padding: 26px 0;
}

.schedule__item{
  border-bottom: 1px solid rgba(255, 255, 255, 0.432);
  display: flex;
  align-items: center;

}

.schedule__button-holder{
  text-align: center;
  margin-top: 30px;

}

.schedule__col{
  width: 49%;
}
.schedule__item-link-holder{
  margin-left: 36px;
}

.schedule__row{
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width:991px){
  .schedule__row{
    flex-wrap: wrap;
  }
  .schedule__col{
    width: 100%;
  }
}