.section {
  color: #0b1f35;
}
.section_thematic_courses {
  background: #fcfcfc;
}
.section_pink {
  background-color: #eb0035;
  color: #fff;
  &.section_calendar {
    background: #eb0035 url(../img/part-image-2.png) no-repeat;
    background-size: cover;
    background-position: 560px -113px;
  }
}


.section__row {
  display: flex;
  align-items: center;
}

.section_type_1 {
  position: relative;
}

.section_type_1 .section__left {
  width: 100%;
  max-width: 475px;
}
.section_type_1 .section__right {
  width: 50%;
}

.section__content {
}


.section {
  padding: 49px 0;
}

.section_type_1 {
  padding: 49px 0;
}
.section_type_1 .section__content {
  margin-top: 10px;
}

.section__content h2 {
  font-size: 46px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 29px;
}

.section__content h3 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.section__content p {
  font-size: 16px;
  line-height: 26px;

}

.section_purple {
  background-color: #2e349e;
  color: #fff;
  &.section_documents_list {
    background: #2e349e url(../img/part-image-1.png) no-repeat;
    background-size: cover;
    background-position: 919px -113px;
  }
}
.section_contact {
  background: none;
}

.section__title {
  font-size: 46px;
  margin-top: 0;
  font-weight: bold;
  margin-bottom: 25px;
}

.section_type_2 {
  //   display: none;
  padding-top: 40px;

  .section__title {
    margin-bottom: 30px;
  }
}

.section_about_academy {
  .button-holder {
    margin-top: 40px;
  }
}

.section_teachers {
  position: relative;
  padding-top: 60px;
  padding-bottom: 84px;
}

.section_contact {
  .button-holder {
    margin-top: 40px;
  }
  .section__title {
    margin-bottom: 30px;
  }
  .section__left {
    padding-right: 63px;
  }
  .map {
    max-width: 650px;
  }
}


.section_about_courses {
  position: relative;
  .container {
    position: relative;
  }
  .section__inner {
    display: flex;
    flex-wrap: wrap;
  }
}

.section_about_courses .multiple-img-holder {
  position: absolute;
  right: -120px;
  bottom: 0px;

}

.section_about_courses .section__content {
  width: 75%;
}

.section_training_program {
  .section__row {
    justify-content: space-between;
    align-items: baseline;
  }
  .section__left {
    width: 50%;

  }
  .section__right {
    width: 50%;
    padding-left: 40px;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      width: 1px;
      height: 109%;
      left: 0;
      top: 0;
      background: #ed1949;

    }
  }
  .section__bottom {
    padding: 30px 0;
    border-top: 1px solid #ee2653;
    margin-top: 20px;
    text-align: center;
  }
}

.section_student_bag {
  .section__row {
    align-items: center;
  }

  .section__right {
    padding-left: 30px;
  }
}
.diploma {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .diploma-item {
    &:first-child {
      margin-right: 20px;
    }
    h4 {
      margin-bottom: 5px;
    }
    p {
      margin-top: 5px;
    }
    img {
      box-shadow: 0px 15px 17.5px rgba(186,189,193,0.2);
      object-fit: cover;
      cursor: pointer;
    }
  }
}
.diploma-prot {
  margin-top: 20px;
  ol {
    list-style-type: none; /* Убираем исходные маркеры */
    counter-reset:  item; /* Обнуляем счетчик списка */
    padding-left: 0;
  }

  li {
    font-size: 16px;
    line-height: 22px;
    color: #0b1f35;
    padding: 5px 0;
    &:before {
      content: counter(item) ') '; /* Добавляем к числам скобку */
      counter-increment: item; /* Задаём имя счетчика */
      font-weight: bold;
    }
  }
}

.section__content ul {
  padding-left: 20px;
  li {
    position: relative;

    margin-bottom: 20px;
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      left: -11px;
      top: 6px;
      width: 4px;
      height: 4px;
      background-color: #0b1f35;
      border-radius: 50%;
    }
  }
}
.section__content ol {
  list-style-type: none; /* Убираем исходные маркеры */
  counter-reset:  item; /* Обнуляем счетчик списка */
  padding-left: 20px;
  li {
    margin-bottom: 20px;
    &:before {
      content: counter(item) ') '; /* Добавляем к числам скобку */
      counter-increment: item; /* Задаём имя счетчика */
      font-weight: bold;
    }
  }
}

.section_purple,
.section_pink {
  .section__content ul {
    li {
      &:before {
        background-color: #fff;
      }
    }
  }
}

.section_documents_list .description-composition {
  margin-top: 50px;
}

.section_calendar .section__content {
  margin-bottom: 40px;
}

.section_calendar .btn {
  margin-top: 40px;
  padding: 0 48px;
}

.section_about_course_2 .img-composition {
  margin-top: 40px;
}

.about-teachers h3 {
  font-size: 30px;
  color: #0b1f35;
  font-weight: bold;
}

@media screen and(max-width:992px) {
  .section_type_1 .section__row {
    // flex-direction: column;
  }

  .section_type_1 .section__right {
    width: 100%;
    margin-top: 30px;
    max-width: 100%;
  }
  .section_type_1 .section__left {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // display: flex;
    // justify-content: flex-end;
  }
  .section_about_academy {
    .section__row {
      flex-wrap: wrap;
    }
    .section__left {
      width: 100%;
      order: 1;
    }
  }
}
#thank-word.fancybox-content {
  background: #ffffff url("../img/popup-bg.png") right no-repeat;
  max-width: 500px;
  width: 100%;
  border-radius: 3px;
  .fancybox-close-small {
    width: 45px;
    height: 45px;
    color: #3e45ae;
    border: 1px solid #3e45ae;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 20px;
  }
  h2 {
    font-size: 30px;
    line-height: 26px;
    color: #0b1f35;
    font-weight: bold;
    text-align: center;
  }
  p {
    font-size: 14px;
    line-height: 18px;
    color: #6d7986;
    text-align: center;
  }
}
.thank-word-popup {
  .btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    .btn {
      padding: 0 65px;
    }
    input[type="submit"] {
      cursor: pointer;
      border: 0;
      outline: none;
      box-shadow: 0 15px 17.5px rgba(193,3,46,0.2);
    }
  }
}
#write-course.fancybox-content {
  background: #ffffff url("../img/popup-bg.png") right no-repeat;
  max-width: 500px;
  width: 100%;
  border-radius: 3px;
  .fancybox-close-small {
    width: 45px;
    height: 45px;
    color: #3e45ae;
    border: 1px solid #3e45ae;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 20px;
  }
  h2 {
    font-size: 30px;
    line-height: 26px;
    color: #0b1f35;
    font-weight: bold;
    text-align: center;
  }
  p {
    font-size: 14px;
    line-height: 18px;
    color: #6d7986;
    text-align: center;
  }

}

.course-popup {
  input[type="text"],
  input[type="tel"] {
    width: 100%;
    padding: 25px;
    margin: 11px 0;
    outline: none;
    border-radius: 3px;
    border: 1px solid #e9ebed;
  }
  textarea {
    outline: none;
    resize: none;
    border-radius: 3px;
    border: 1px solid #e9ebed;
    width: 100%;
    padding: 25px;
  }

  .btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    .btn {
      padding: 0 65px;
    }
    input[type="submit"] {
      cursor: pointer;
      border: 0;
      outline: none;
      box-shadow: 0 15px 17.5px rgba(193,3,46,0.2);
    }
  }
  .checkbox-button {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    label {
      font-size: 13px;
      line-height: 16px;
      color: #0b1f35;
      margin-left: 8px;
    }
  }
  .checkbox-button input[type=radio] {
    display: none;
  }
  .checkbox-button label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 13px;
    line-height: 16px;
    color: #0b1f35;
    margin-left: 8px;
    user-select: none;
  }
  .checkbox-button label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 18px;
    position: absolute;
    left: -25px;
    bottom: 1px;
    background: url("../img/checkbox-disable.png") 0 0 no-repeat;

    background-size: cover;
  }

  /* Checked */
  .checkbox-button input[type=radio]:checked + label:before {
    background: url("../img/chekbox.png") 0 0 no-repeat;
    background-size: cover;
  }

  /* Disabled */
  .checkbox-button input[type=radio]:disabled + label:before {
    filter: grayscale(100%);
  }


}
#callback.fancybox-content {
  background: #ffffff url("../img/popup-bg.png") right no-repeat;
  max-width: 500px;
  width: 100%;
  border-radius: 3px;
  .fancybox-close-small {
    width: 45px;
    height: 45px;
    color: #3e45ae;
    border: 1px solid #3e45ae;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 20px;
  }
  h2 {
    font-size: 30px;
    line-height: 26px;
    color: #0b1f35;
    font-weight: bold;
    text-align: center;
  }
  p {
    font-size: 14px;
    line-height: 18px;
    color: #6d7986;
    text-align: center;
  }

}

.call-popup {
  input[type="text"],
  input[type="tel"] {
    width: 100%;
    padding: 25px;
    margin: 11px 0;
    outline: none;
    border-radius: 3px;
    border: 1px solid #e9ebed;
  }

  .btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    .btn {
      padding: 0 65px;
    }
    input[type="submit"] {
      cursor: pointer;
      border: 0;
      outline: none;
      box-shadow: 0 15px 17.5px rgba(193,3,46,0.2);
    }
  }
  .checkbox-button {
    display: flex;
    justify-content: center;
    align-items: center;
    label {
      font-size: 13px;
      line-height: 16px;
      color: #0b1f35;
      margin-left: 10px;

    }

  }
  .checkbox-button input[type=radio] {
    display: none;
  }
  .checkbox-button label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 13px;
    line-height: 16px;
    color: #0b1f35;
    margin-left: 8px;
    user-select: none;
  }
  .checkbox-button label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 18px;
    position: absolute;
    left: -25px;
    bottom: 1px;
    background: url("../img/checkbox-disable.png") 0 0 no-repeat;

    background-size: cover;
  }

  /* Checked */
  .checkbox-button input[type=radio]:checked + label:before {
    background: url("../img/chekbox.png") 0 0 no-repeat;
    background-size: cover;
  }

  /* Disabled */
  .checkbox-button input[type=radio]:disabled + label:before {
    filter: grayscale(100%);
  }

}
@media screen and (max-width: 1200px) {
  .section_teachers {
    .section__row {
      flex-wrap: wrap;
      overflow: hidden;
    }
  }
  .section_teachers .section__right {
    margin-top: 30px;
  }
  .diploma .diploma-item img {
    width: 400px;
  }
}
@media (max-width: 1024px) {
  .diploma .diploma-item img {
    width: 380px;
  }
}
@media (max-width: 992px) {
  .diploma .diploma-item img {
    width: 340px;
  }
}
@media screen and(max-width:768px) {
  .diploma {
    display: block;
  }
  .diploma .diploma-item:first-child {
    margin-right: 0;
  }
  .diploma .diploma-item img {
    width: 100%;

  }

  .section_type_1 .section__left{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .section_about_courses .multiple-img-holder {
    right: 0;
  }
  .section_student_bag .section__left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .section_student_bag .section__row {
    display: block;
  }
  .section_student_bag .section__right {
    padding-left: 0;
  }
  .section_about_courses .section__content {
    order: 2;
    width: 100%;
  }

  .section_about_courses .multiple-img-holder {
    position: relative;
    display: block;
    order: 1;
  }
  .section__title {
    font-size: 35px;
  }
}

@media screen and (max-width: 576px) {
  .section__content h3 {
    font-size: 25px;
  }
  .section__title {
    font-size: 28px;
  }
  .section__content ol li {
    margin-bottom: 0;
  }

  .section__content h2 {
    font-size: 30px;
  }
  .section__content h3 {
    font-size: 20px;
  }
  .section_training_program .section__row {
    flex-wrap: wrap;
  }
  .section_training_program .section__left {
    width: 100%;
  }
  .section_training_program .section__right {
    width: 100%;
    margin-top: 30px;
    padding-left: 0px;
    &:after {
      display: none;
    }
  }
  .section_type_1 .section__left {
    justify-content: center;
  }

}
@media (max-width: 480px) {
  .section_about_courses .multiple-img-holder {
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  //.section_about_courses .multiple-img-holder .multiple-img_right .multiple-img__img {
  //  left: 50%;
  //  transform: translate(-50%);
  //}
  .section_student_bag .section__left {
    display: flex;
    justify-content: center;
  }
  .section_about_academy .section__right {
    width: 100%;
    display: flex;
    justify-content: center;
  }

}
