.tab__nav {
   display: flex;
   justify-content: space-between;
 }

.tab__link {
  border-radius: 4px;
  border: 1px solid #f8bdca;
  width: 202px;
  padding: 19px 0;
  text-align: center;
  text-decoration: none;
  color: #001933;
  cursor: pointer;
  font-weight: bold;
}

.tab__link.active {
  background-color: #fc0038;
  color: #fff;
  box-shadow: 0px 15px 17.5px rgba(209,0,45,0.2);
}


.tab__content{
  display: none;
}

.tab__content.active{
  display: block;
}


@media screen and (max-width:768px){
  .tab__nav{
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .tab__link{
    width: 25%;
  }
}

@media screen and (max-width:567px){
  .tab__link{
    width: 50%;
  }
}