.swiper-slide {
  width: 276px;
}

.swiper-teachers {
  position: absolute;
  left: -400px;
  width: 969px;
  top: -10px;
}

.swiper-teachers-container {
  width: 714px;
}

.teacher__img {
  width: 275px;
  height: 277px;
  object-fit: cover;
  border-radius: 50%;
}

.teacher__title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 32px;
  padding-left: 52px;
  margin-bottom: 7px;
}

.teacher__subtitle {
  font-size: 14px;
  padding-left: 52px;
  padding-left: 52px;
}

.swiper-button-next:after {
  display: none;
}

.swiper-teacher-button-next {
  right: auto;
  left: 610px;
  top: 139px;
}

.section_teachers .container {
  position: relative;
}

.swiper-teacher-button-next {
  outline: none;
}

@media screen and (max-width: 1200px) {
  .swiper-teachers {
    position: static;
  }

  .swiper-teachers {
    width: 70%;
  }

  .section_contact {
    .section__row {
      flex-wrap: wrap;
    }
    .section__left {
      margin-bottom: 20px;
    }
  }
  .swiper-teachers-container {
    width: 923px;
  }
  .swiper-teacher-button-next {
    left: 965px;
  }
  .swiper-slide {
    width: 303px;
  }
  .swiper-teacher-button-next {
    left: auto;
    right: 0;
  }
}
@media (max-width: 992px) {
  .swiper-teachers {
    width: 100%;
  }

}
@media (max-width: 768px) {
  .swiper-teachers-container {
    max-width: 480px;

  }
  .swiper-slide {
    width: 225px;
  }
  .swiper-slide {
    img {
      width: 200px;
      height: 200px;
    }
  }
  .swiper-teacher-button-next {
    top: 15%;
  }
}

@media screen and (max-width: 576px) {
  .swiper-teachers-container{
    max-width: 400px;

  }
  .swiper-slide {
    width: 100%;
    text-align: center;
  }
  
  .teacher__subtitle{
    padding-left: 0;
  }
  .teacher__title{
    padding-left: 0;
  }
  .swiper-teacher-button-next {
    left: auto;
    right: 25px;
  }
}
@media (max-width:420px ) {
  .swiper-teachers-container{
    max-width: 350px;

  }
}
@media (max-width: 375px) {
  .swiper-teachers-container{
    max-width: 290px;
  }
}