.error-section{
  object-position: center;
  object-fit: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
}
.block-left {
  width: 50%;
  position: relative;
  background: url("../img/error/girl-image.png")no-repeat top;
  background-size: cover !important;

  .logo {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    img {
      width: 250px;
    }
  }
}

.block-right {
  width: 50%;
  background: url("../img/error/tools.png") no-repeat center;
  background-size: cover !important;
  display: flex;
  justify-content: center;
  align-items: center;

}
.error-text {
  margin: 50px 0;
  padding: 0 15px;
  p.subtitle {
    font-size: 28px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
  }
  p.title {
    font-size: 35px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
  }
  p.big-letter {
    text-align: center;
    font-size: 250px;
    line-height: 26px;
    color: #ffffff;
    font-weight: bold;
    margin: 140px 0;
    letter-spacing: 30px;
    span.zero {
      font-size: 170px;
      line-height: 26px;
      color: #ffffff;
      font-weight: bold;
    }
  }

}
.btn-center {
  text-align: center;
  .error-button {
    background: #ffffff;
    color: black;
    padding: 0 50px;
    box-shadow: 0px 15px 17.5px rgba(209,0,45,0.2);
  }

}

@media (max-width: 1200px) {
  .error-text p.big-letter {
    font-size: 200px;
    letter-spacing: 20px;
  }
}
@media (max-width: 1024px) {
  .block-left {
    display: none;
  }
  .block-right {
    width: 100%;
  }
}
@media (max-width: 475px) {
  .error-text p.title {
    font-size: 24px;
  }
  .error-text p.big-letter {
    font-size: 130px;
    letter-spacing: 10px;
    span.zero {
      font-size: 100px;
    }
  }

}