* {
  box-sizing: border-box;
}

body {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
}
a {
  text-transform: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

@media screen and(max-width:1200px){
  .container{
    max-width: 960px;
  }
}

@media screen and(max-width:992px){
  .container{
    max-width: 720px;
  }
}

@media screen and(max-width:768px){
  .container{
    max-width: 540px;
  }
}