.container {
  position: relative;
}
.banner_small .banner__right img {
  object-position: center;
}
.about-section {
  margin: 50px 0;
  p.text-title {
    font-size: 46px;
    color: #0b1f35;
    font-weight: bold;
    margin-bottom: 20px;
  }
  p.text-subtitle {
    font-size: 16px;
    line-height: 22px;
    color: #0b1f35;

  }
  .block-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    .block-images__item {
      img {
        width: 540px;
        height: 350px;
        object-fit: cover;
        box-shadow:0 17px 24.5px rgba(192,193,202,0.24);
      }
      legend {
        font-size: 14px;
        line-height: 22px;
        color: #6d7986;
        font-weight: 500;
        font-style: italic;
        margin-top: 10px;
      }
    }
  }
}
.reviews {
  margin-bottom: 50px;
  p.text-title {
    font-size: 46px;
    line-height: 26px;
    color: #ffffff;
    font-weight: bold;
  }
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    position: relative;
    .prev-arrow,
    .next-arrow {
      width: 55px;
      height: 55px;
      border: 1px solid #ffffff;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      outline: none;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%)
      }
    }
    .swiper-pagination {
      z-index: 0 ;
      position: relative;
      color: #ffffff;
      .swiper-pagination-current {
        font-size: 22px;
        font-weight: bold;
      }
    }
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
      width: auto;
      bottom: 0;
    }
    .prev-arrow {
      margin-right: 80px;
    }
    .next-arrow {
      margin-left: 80px;
    }
  }
  .banner-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      left: 0;
      bottom: -25px;
      background: #ffffff;
      opacity: 0.5;
    }

  }
  .banner-bottom__left-part {
    margin-right: 50px;
    img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      object-fit: cover;
      object-position: left;
    }

  }
  .banner-bottom__right-part {

    p.title-name {
      font-size: 24px;
      line-height: 26px;
      color: #ffffff;
      font-weight: bold;
      margin: 0;
    }
    p.text-subtitle {
      font-size: 16px;
      line-height: 26px;
      color: #ffffff;
      opacity: 0.5;
      margin-top: 0;
    }
    .graduate {
      margin: 50px 0;
      font-size: 16px;
      line-height: 26px;
      color: #ffffff;
      position: relative;
      span {
        font-weight: 700;
      }
      &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background: #ffffff;
        opacity: 0.5;
        top: -25px;
        left: 0;
      }
      &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background: #ffffff;
        opacity: 0.5;
        bottom: -25px;
        left: 0;
      }
    }
    .quotes {
      font-size: 16px;
      line-height: 26px;
      color: #ffffff;
      margin-left: 50px;
      position: relative;
      q {
        &:before {
          position: absolute;
          content: '';
          left: -50px;
          top: -10px;
          width: 24px;
          height: 20px;
          background: url("../img/about/qoute-start.png");

        }
        &:after {
          position: absolute;
          content: '';
          right: 20px;
          bottom: -10px;
          width: 24px;
          height: 20px;
          background: url("../img/about/quote-end.png");
        }
      }
    }
  }
}
.footer__inner {
  background-position: 1250px;
}
@media (max-width: 1400px) {
  .footer__inner {
    background-position: 820px -100px;
  }
}
@media (max-width: 1200px) {
  .about-section .block-images .block-images__item img {
    width: 450px;
  }

}
@media (max-width: 992px) {
  .about-section .block-images .block-images__item img {
    width: 330px;
    height: 200px;
  }
  .footer__inner {
    background-position: 400px 400px;
  }

}
@media (max-width: 768px) {
  .about-section .block-images .block-images__item img {
    width: 250px;
    height: 180px;
  }
  .reviews .banner-bottom__left-part img {
    width: 150px;
    height: 150px;
  }
  .footer__inner {
    background-position: 300px 345px;
  }
}
@media (max-width: 540px) {
  .about-section .block-images {
    display: block;
  }
  .about-section .block-images .block-images__item {
    margin-bottom: 30px;
  }
  .about-section .block-images .block-images__item img {
    width: 100%;
    height: 250px;
  }
  .reviews {
    margin-bottom: 30px;
  }
  .reviews .banner-bottom {
    display: block;
  }
  .reviews .banner-bottom__left-part {
    margin-right: 0;
    text-align: center;
  }
  .reviews p.text-title {
    font-size: 29px;
  }
  .reviews .navigation .next-arrow {
    margin-left: 45px;
  }
  .reviews .navigation .prev-arrow {
    margin-right: 45px;
  }
  .reviews .banner-bottom__right-part .quotes {
    font-size: 14px;
    line-height: 22px;
    margin-left: 0;
  }
  .reviews .banner-bottom__right-part .quotes q:after {
    bottom: -20px;
  }
  .reviews .banner-bottom__right-part .quotes q:before {
    left: 0;
    top: -20px;
  }
  .footer__inner {
    background-position: 150px 345px;
  }
}
@media (max-width:375px) {
  .reviews .banner-bottom__right-part .quotes {
    margin-left: 25px;
  }
  .reviews .banner-bottom__right-part .quotes q:before {
    left: -25px;
  }
}