.banner__right img {
  box-shadow: 0px 20px 27.5px rgba(6,7,36,0.15);
  right: 0;
}
.banner  {
  .container {
    position: relative;
  }
}
.contacts-section {
  margin: 70px 0;

  .section__right {

    margin-right: 22px;

    img {
      max-width: 650px;
      height: 100%;
      box-shadow: 0 20px 29.5px rgba(121,121,136,0.16);
      object-fit: cover;
    }
  }
  .section__left {

    padding: 10px 0;
    margin-left: 22px;
    .section__title {
      font-size: 30px;
    }
    .button-holder .btn {
    box-shadow: 0px 15px 17.5px rgba(209,0,45,0.2);
      justify-content: center;
      width: 250px;
      padding: 0;
    }
  }
  .contact-info__title {
    text-transform: uppercase;
  }
  .contact-info__value {
    color: #0b1f35;
    a {
      color: #0b1f35;
    }
  }
}

@media (max-width: 1200px){
  .banner__right img {
    right: -20px;
  }
}
@media (max-width: 1024px) {
  .banner__left {
    max-width: 500px;
    right: 0;
  }

}
@media (max-width: 992px) {
  .banner__right img {
    width: 220px;
    height: 220px;
  }
  .section__row {
    display: flex;
    flex-wrap: wrap;
  }
  .section__right {
    width: 100% !important;
    order:2;
    margin-right: 0 !important;
    img {
      width: 100%;
    }
  }
  .section__left {
    width: 100% !important;
    order: 1;
    margin-left: 0 !important;
    margin-bottom: 30px;
  }

}
@media (max-width: 768px) {
  .contacts-section {
    margin: 30px 0;
  }
  .banner__right img {
    right: 65px;
    width: 150px;
    height: 150px;
  }
  .banner__left .banner__content {
    max-width: 350px;
  }


}
@media (max-width :567px) {
  .banner__left {
    padding-right: 0;
  }
  .banner__left .banner__content {
    max-width: 100%;
  }
}
