.banner__right {

  img {
    object-position: right;
    box-shadow: 0px 20px 27.5px rgba(6,7,36,0.15);
    right: 0;
  }
}
.banner .container {
  position: relative;
}


.all-questions {
  margin: 50px 0;
  .show-hide-list {
    li {
      &:nth-child(n+8) {
        display: none;
      }
    }
  }
  .question-item {
    margin-bottom: 60px;
    position: relative;
    p.question-title {
      font-size: 18px;
      color: #0b1f35;
      font-weight: 700;
    }
    .section-subtitle {
      position: relative;
      margin-left: 20px;
      &:after {
        position: absolute;
        content:'-';
        left: -20px;
        height: 1px;
        top:0;
        color: #ff0033;
        border: 0;
        box-shadow: 0px 10px 2px rgba(255,0,51,0.2);
      }
    }
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      background: #f0f2f3;
      bottom: -30px;
      left: 0;
    }
  }

  .question-button {
    text-align: center;
    
    .btn {
      box-shadow: 0px 15px 17.5px rgba(209,0,45,0.2);
      cursor: pointer;
    }

  }
}
@media (max-width: 1200px){
  .banner__right img {
    right: -20px;
  }
}
@media (max-width: 1024px) {
  .banner__left {
    max-width: 500px;
    right: 0;
  }

}
@media (max-width: 992px) {
  .banner__right img {
    width: 220px;
    height: 220px;
  }

}
@media (max-width: 768px) {
  .banner__right img {
    right: 65px;
    width: 150px;
    height: 150px;
  }
  .banner__left .banner__content {
    max-width: 350px;
  }

}
@media (max-width :567px) {
  .logo__img {
    width: 150px;
  }
  .banner__left {
    padding-right: 0;
  }
  .banner__left .banner__content {
    max-width: 100%;
  }
  .question-item {
    margin-bottom: 30px !important;
    &:after {
      margin-bottom: 15px;
    }
  }
  p.question-title {
    font-size: 16px !important;
    margin-bottom: 5px !important;
  }
  p.section-subtitle {
    font-size: 14px !important;
    margin-top: 0 !important;
  }
  .all-questions {
    margin: 20px 0;
  }
}
@media (max-width: 375px) {
  .logo__img {
    width: 110px;
  }
}