.section-news-tab {
 margin: 50px 0;
  .small-container {
    max-width: 900px;
    padding: 0 10px;
    margin: 25px auto;
    p.quote {
      max-width: 765px;
      margin: 40px auto;
      font-size: 24px;
      line-height: 30px;
      color: #0b1f35;
      font-weight: bold;
      position: relative;
      &:before {
        position: absolute;
        content: '';
        width: 6px;
        height: 100%;
        background: #ef0035;
        margin-left: -25px;
        top: 0;
      }
      &:after {
        position: absolute;
        content: ' - KLOCH';
        bottom: -40px;
        right: -70px;
        color: #b6bcc3;
        font-size: 24px;
        font-weight: normal;
      }
    }
  }
  p.text-subtitle {
    font-size: 16px;
    color: #6d7986;
    line-height: 22px;
    font-weight: 500;
    &.short {
      max-width: 500px;
    }
}
.news-tab__item {
  padding-left: 100px;
  margin-bottom: 40px;
  p.title-date {
    font-size: 16px;
    position: relative;
    color: #b6bcc3;
    line-height: 26px;
    margin-left: 40px;
    &:after {
      position: absolute;
      content: '';
      top: 50%;
      left: -40px;
      width: 35px;
      height: 1px;
      background-color: #b6bcc3;
    }
  }
  p.text-title {
    font-size: 46px;
    line-height: 26px;
    color: #0b1f35;
    font-weight: bold;
    margin: 20px 0;
  }


  }
  .button-holder {
    text-align: center;
    .btn {
      cursor: pointer;
      box-shadow: 0px 15px 17.5px rgba(209,0,45,0.2);
    }
  }
}
.hair-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .big-image {
    max-width: 730px;
    height: 100%;
    box-shadow: 0px 17px 24.5px rgba(192,193,202,0.24);
    object-fit: cover;

  }
  .small-image {
    max-width: 350px;
    height: 100%;
    box-shadow: 0px 17px 24.5px rgba(192,193,202,0.24);
    object-fit: cover;

  }
}
.block-haircuts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin-top: 80px;
  .block-haircuts-image__item {
    width: 255px;
    margin-bottom: 25px;
    border-radius: 2px;
    img {
      width: 255px;
      height: 255px;
      object-fit: cover;
    }
        &:nth-child(n+9) {
          display: none;
        }
  }
}
.slider-section {
  margin-bottom: 50px;
  .swiper-container {
    border-top: 1px solid #f0f2f3;
    border-bottom: 1px solid #f0f2f3;
    overflow: visible;
  }
  .swiper-wrapper {
    margin: 30px 0;
  }
  .swiper-slide {
    width: 350px;
    opacity: 0.5;
    &.swiper-slide-next,
    &.swiper-slide-prev,
    &.swiper-slide-active {
      opacity: 1;
    }


  }
  .slide-block__item {
    margin: 0 10px;
    .small-news__item-image {
      img {
        width: 100%;
        max-width: 360px;
        position: relative;
        z-index: -1;
        box-shadow: 0px 15px 17.5px rgba(159,161,169,0.2);
        object-fit: cover;
      }
    }
    .news__item-small {
      p.small-news__item-date {
        font-size: 14px;
        color: #b6bcc3;
        line-height: 0;
        position: relative;
        margin-left: 45px;
        margin-top: 30px;
        &:before {
          position: absolute;
          left: -45px;
          top: 50%;
          content: '';
          width: 35px;
          height: 1px;
          background-color: #d9dce0;
        }
      }
      p.small-news__item-title {
        font-size: 20px;
        color: #0b1f35;
        font-weight: bold;
      }
      p.small-news__item-subtitle {
        font-size: 15px;
        color: #6d7986;
        font-weight: 500;
        line-height: 20px;
      }
      a.read-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        letter-spacing: 2px;
        color: #ef0035;
        font-weight: bold;
        img {
          margin-left: 10px;
          width: 20px;
          height: 10px !important;
          position: relative;
          z-index: 2;
          box-shadow: none;
        }
      }

    }
  }
}
@media (max-width: 1200px) {
  .hair-image .big-image {
    width: 550px;
    height: 100%;
  }
  .hair-image .small-image {
    width: 400px;
    height: 100%;
  }
  .block-haircuts .block-haircuts-image__item {
    width: 300px;
    height: 300px;
  }
  .block-haircuts .block-haircuts-image__item img {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 992px ) {
  .hair-image .big-image {
    width: 380px;
  }
  .hair-image .small-image {
    width: 280px;
  }
  .block-haircuts .block-haircuts-image__item {
    width: 330px;
    height: 255px;
  }
  .block-haircuts .block-haircuts-image__item img {
    width: 330px;
    height: 255px;
  }
}
@media (max-width: 768px) {
  .section-news-tab {
    margin: 30px 0;
  }
  .section-news-tab .news-tab__item {
    padding-left: 0;
  }
  .section-news-tab .news-tab__item p.text-title {
    font-size: 35px;
  }
  .hair-image {
    display: block;
  }
  .hair-image .big-image {
    width: 100%;
    margin-bottom: 40px;
  }
  .hair-image .small-image {
    max-width: 100%;
    width: 100%;
    text-align: center;
    margin: 0 auto;

  }
  .section-news-tab .small-container p.quote {
    font-size: 20px;
  }
  .section-news-tab .small-container p.quote:after {
      right: 0;
  }
  .section-news-tab .small-container p.quote:before {
    margin-left: -10px;
  }
  .block-haircuts {
    display: block;
  }
  .block-haircuts .block-haircuts-image__item {
    width: 100%;
    height: 100%;
  }
  .block-haircuts .block-haircuts-image__item img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 576px) {
  .section-news-tab .news-tab__item p.text-title {
    font-size: 30px;
  }
  .slider .swiper-slide {
    text-align: left ;
  }
  .slider .swiper-slide .small-news__item-image img{
    max-width: 100%;
  }
}
