.banner__right {
  img {
    object-position: right;
    box-shadow: 0px 20px 27.5px rgba(6,7,36,0.15);
    right: 0;
  }
}
.banner .container {
  position: relative;
}
.section-news {
  margin: 90px 0 70px;
  .swiper-news {
    margin: 50px 0;
  }

  .swiper-slide {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin: 50px 0;

      .slide-block__item {
        width: 32%;
        margin-bottom: 50px;
        &:nth-child(3n+2) {
          margin: 0 10px;
        }
        .small-news__item-image {
          img {
            width: 100%;
            max-width: 360px;
            position: relative;
            z-index: -1;
            box-shadow: 0px 15px 17.5px rgba(159,161,169,0.2);
            object-fit: cover;
          }
        }
        .news__item-small {
          p.small-news__item-date {
            font-size: 14px;
            color: #b6bcc3;
            line-height: 0;
            position: relative;
            margin-left: 45px;
            margin-top: 30px;
            &:before {
              position: absolute;
              left: -45px;
              top: 50%;
              content: '';
              width: 35px;
              height: 1px;
              background-color: #d9dce0;
            }
          }
          p.small-news__item-title {
            font-size: 20px;
            color: #0b1f35;
            font-weight: bold;
          }
          p.small-news__item-subtitle {
            font-size: 15px;
            color: #6d7986;
            font-weight: 500;
            line-height: 20px;
          }
          a.read-link {
            display: flex;
            align-items: center;
            text-decoration: none;
            letter-spacing: 2px;
            color: #ef0035;
            font-weight: bold;
            img {
              margin-left: 10px;
              width: 20px;
              height: 10px !important;
              position: relative;
              z-index: 2;
              box-shadow: none;
            }
          }

        }
      }

  }
}
.big-news {
  background-image: linear-gradient(0deg, #000000 0%, rgba(0,0,0,0) 100%);
  position: relative;
  img {
    width: 100%;
    position: relative;
    z-index: -1;
    box-shadow: 0px 20px 27.5px rgba(6,7,36,0.15);
  }
  .big-news__item {
    position: absolute;
    bottom: 15%;
    left: 0;
    padding: 0 30px;
    p.big-news__item-date {
      font-size: 14px;
      line-height: 26px;
      color: #f3f4f5;
      position: relative;
      margin-left: 45px;
      &:before {
        position: absolute;
        left: -45px;
        top: 50%;
        content: '';
        width: 35px;
        height: 1px;
        background-color: #ffffff;
      }
    }
    p.big-news__item-title {
      font-size: 30px;
      line-height: 0;
      color: #ffffff;
      font-weight: bold;
    }
    p.big-news__item-subtitle {
      font-size: 16px;
      line-height: 22px;
      color: #ffffff;
      font-weight: 500;
    }
    a.read-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      letter-spacing: 2px;
      line-height: 0;
      margin-top: 30px;
      color: #ef0035;
      font-weight: bold;
      img {
        margin-left: 10px;
        width: 20px;
        height: 10px;
        position: relative;
        z-index: 2;
      }
    }
  }
}

.swiper-pagination {
  position: relative;
  .page-pagination {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
   &.active {
     background: #ff0033;
     color: #ffffff;
     box-shadow: 0px 10px 12.5px rgba(224,0,45,0.2);
   }
  }
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
}
.prev-arrow {
  margin-right: 70px;
}
.next-arrow {
  margin-left: 70px;
}
.prev-arrow,
.next-arrow {
  width: 55px;
  height: 55px;
  border: 1px solid #30369f;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
  }
}
@media (max-width: 1200px) {
  .section-news .swiper-slide .slide-block__item img {
    width: 300px;
  }
  .banner__right img {
    right: -20px;
  }
}
@media (max-width: 1024px)  {

  .banner__left {
    max-width: 500px;
    right: 0;
  }
}
@media (max-width: 992px) {
  .section-news .swiper-slide  .slide-block__item img {
    width: 215px;
  }
  .banner__right img {
    width: 220px;
    height: 220px;
  }
  .banner__content h2, .banner__title {
    font-size: 45px;
  }
}
@media (max-width: 768px) {
  .section-news {
    margin: 30px 0;
  }
  .section-news .swiper-slide {
    margin-bottom: 0;
  }
  .section-news .swiper-slide .slide-block__item:nth-child(3n+2) {
    margin:0 0 40px;
  }
  .section-news .swiper-slide .slide-block__item {
    width: 48%;
    margin-bottom: 40px;
  }
  .navigation .prev-arrow {
    margin-right: 40px;
  }
  .navigation .next-arrow {
    margin-left: 40px;
  }
  .banner__content p {
    margin: 20px 0 !important;
  }
  .banner__right img {
    right: 65px;
    width: 150px;
    height: 150px;
  }
  .banner__left .banner__content {
    max-width: 350px;
  }


  .big-news .big-news__item p.big-news__item-title {
    font-size: 24px;
  }
  .big-news .big-news__item p.big-news__item-subtitle {
    font-size: 14px;
  }
}
@media (max-width: 567px) {
  .logo__img {
    width: 150px;
  }
  .banner__left {
    padding-right: 0;
  }
  .banner__left .banner__content {
    max-width: 100%;
  }
  .big-news .big-news__item {

  }
  .big-news  .big-news__item p.big-news__item-date {
    line-height: 18px;

  }
  .big-news .big-news__item p.big-news__item-title {
    font-size: 22px;
    margin: 0;
  }
  .big-news .big-news__item p.big-news__item-subtitle {
    line-height: 18px;
    height: 55px;
    overflow: hidden;
  }
  .big-news .big-news__item a.read-link {
    margin-top: 10px;
  }

  .section-news .swiper-slide  {
    display: block;
  }
  .section-news .swiper-slide .slide-block__item {
    width: 100%;
    img {
      max-width: 510px !important;
      width: 100%;
    }
  }
  .navigation .page-pagination {
    width: 25px;
    height: 25px;
  }
  .navigation .prev-arrow {
    margin-right: 5px;
    width: 40px;
    height: 40px;
  }
  .navigation .next-arrow {
    margin-left: 5px;
    width: 40px;
    height: 40px;
  }
  .big-news .big-news__item {
    padding: 0 10px;
  }


}
@media (max-width: 375px) {
  .logo__img {
      width: 110px;
  }
  .big-news .big-news__item p.big-news__item-title {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .big-news .big-news__item p.big-news__item-subtitle {
    font-size: 11px;
  }
  .big-news .big-news__item a.read-link {
    margin-top: -10px;
    font-size: 14px;
  }
  .big-news .big-news__item a.read-link img {
    width: 15px;
    height: 8px;
  }
}