footer .footer__inner {
  background: none;
  position: relative;
  z-index: 2;
}
footer .footer__bottom {
  position: relative;
  z-index: 2;
}
.section_pink.section_calendar {
  background: #eb0035;
  .container {
    position: relative;
    z-index: 2;
  }
}
.section_purple.section_documents_list {
  background: #2e349e;
  position: relative;
  .container {
    position: relative;
    z-index: 2;
  }

}
.big_image_footer {
  position: absolute;
  right: -700px;
  top: 0;
  z-index: 1;

}
@media (max-width: 992px) {
  .big_image_footer {
    top: 200px;
  }
}
@media (max-width: 768px) {
  .big_image_footer {
    top: 300px;
    right: -1000px;
  }
}
@media (max-width: 567px) {
  .big_image_footer {
    top: 500px;
  }
}