.banner__right {
  img {

    box-shadow: 0px 20px 27.5px rgba(6,7,36,0.15);
    right: 0;
  }
}
.banner .container {
  position: relative;
}

.main-shedule {
  margin: 50px 0 70px;
  p.item-title {
    font-size: 30px;
    color: #0b1f35;
    font-weight: bold;
  }
  .education-item {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    position: relative;
    .eductaion-item__left-part {
      display: flex;
      align-items: center;
    }
    &__date {
      font-size: 14px;
      color: #6d7986;
      width: 180px;
    }
    &__name {

      font-size: 20px;
      color: #0b1f35;
      font-weight: 500;
      text-decoration: none;
      &.red-line {
        text-decoration: underline;
        color: #ff0033;
      }
    }
    &__duration {
      font-size: 14px;
      color: #6d7986;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #b6bcc3;
    }
  }
}



@media (max-width: 1200px){
  //.banner__right img {
  //  right: -20px;
  //}
}
@media (max-width: 1024px) {
  //.banner__left {
  //  max-width: 500px;
  //  right: 0;
  //}

}
@media (max-width: 992px) {
  //.banner__right img {
  //  width: 220px;
  //  height: 220px;
  //}

  .main-shedule .education-item {
    display: block !important;
    padding: 15px 0;
  }
  .eductaion-item__left-part {
    display: block !important;
  }
  .main-shedule .education-item:after {
    bottom: 0;
  }
  .main-shedule .education-item__date {
    margin-bottom: 10px;
  }
  .eductaion-item__left-part {
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .banner__content p {
    margin: 20px 0 !important;
  }
  .banner__right img {
    right: 65px;
    width: 150px;
    height: 150px;
  }
  .banner__left .banner__content {
    max-width: 350px;
  }
  .main-shedule {
    margin: 20px 0 35px;
  }
  .main-shedule p.item-title {
    margin-top: 20px;
    margin-bottom: 0;
  }



}
@media (max-width :567px) {
  .logo__img {
    width: 150px;
  }
  .banner__left {
    padding-right: 0;
  }
  .banner__left .banner__content {
    max-width: 100%;
  }
  .main-shedule .education-item__name {
    font-size: 18px;
  }
}
@media (max-width: 375px) {
  .logo__img {
    width: 110px;
  }
}